
@import 'variables';
@import 'mixins';
@import 'generic-styles';

@import "components/alert-banner";
@import "components/settings";
@import "components/export";
@import "components/toolbar";
@import "components/toolbar-site";
@import "components/toolbar-window";
@import "components/toolbar-tab";
@import "components/window";
@import "components/window-captured";
@import "components/window-saved";
@import "components/window-saved-webpages";
@import "components/tab";
@import "theme";
@import (less) 'flickity.min.css';

.carousel {
    &,
    &-cell {
        width: 100%;
    }
}

.logo {
    float: left;
    margin-right: @3x;
}

header,
footer {
    padding: @3x;
    position: relative;
    line-height: @header_line_height;
}

main {
    padding: 10px 20px;
}

footer {
    border-top: @border_width solid @border_color;
    font-size: @xsmall_fs;
    text-align: right;
    text-transform: capitalize;

    .get-tablister {
        border-radius: 3px;
        border: 1px solid;
        float: left;
        line-height: 2;
        margin-top:5px;
        text-align: center;
        width: 100px;

        &.not-installed {
            background-color: @light_green;
            border-color: darken(@light_green, 200%);
        }

        &.installed {
            text-align: left;
            text-transform: none;
            background-color: transparent;
            border-color: transparent;
            width: 300px;

            &, a {
                pointer-events: none;
            }
        }
    }
}

#Tablister {
    display: contents;
}

@keyframes spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(359deg)
	}
}

.TablisterLoading {
    display: flex;
    line-height: 200%;
    margin: 100px 20px;
    font-size: 90%;

    span {
        display: inline-block;
        font-size: 200%;
        margin-right: 20px;
        display: inline-flex;

        &:before {
            display: block;
            animation: spin 1.5s linear infinite;
        }
    }
}

.fullpage-link {
    display: none;
}

[data-display-popup] {
    height: 100%;
    min-height: 600px;
    overflow: auto;

    ol>ol,
    ol>li>ol,
    ol>ol>li,
    ol>li>ol>li {
        margin-left: 15px;
    }

    body {
        width: 720px !important; // override responsive css for full window experience
        height: ~'calc(100vh - 42px - 36px)';
        overflow-x: hidden;
        overflow-y: auto;
        margin: 42px 0 0 0;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 0;
    }

    .toolbar-site {
        .toolbar-buttons,
        .toolbar-links {
            position: fixed;
            width: 100%;
            background: @body_color;
            margin: 0;
            padding: 10px 0;
            z-index: 1;
            text-align: right;
        }

        .toolbar-buttons {
            top: 0;
            right: 0;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);

            button {
                transform: translateY(5px);
            }
        }

        .toolbar-links {
            bottom: 0;
            left: 0;
            box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.25);
        }
    }

    .toolbar-tab {
        margin-right: 25px;
    }

    .captured,
    .saved {
        min-height: 400px;
    }

    .fullpage-link {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 36px;
        display: inline-flex;
        align-items: center;
        padding: 0 20px;
    }
}

[data-display-newtab] {

    // link from Tab Lister newtab UX to a user's original newtab UX
    .originalNewTab {
        position: fixed;
        right: -1px;
        top: 10px;
        display: block;
        height: 24px;
        line-height: 24px;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        background: #f1f1f1;
        border: rgba(0, 0, 0, 0.5);
        padding: 0 20px;
        font-size: 11px;
        text-transform: uppercase;

        &:hover {
            box-shadow: 0 5px 10px 0 rgba(50,50,50,0.4);
        }
    }
}
