
// generic styles

* {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
}

input, textarea {
    -moz-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

body {
    font-family: helvetica;
    font-size: @base_fs;
    width: 80%;
    min-width: 675px;
    max-width: 1400px;
    margin: 0 auto;

    @media only screen and (max-width: 1200px) {
        width: 88%;
    }

    @media only screen and (max-width: 1024px) {
        width: 92%;
    }

    @media only screen and (max-width: 768px) {
        width: 96%;
    }
}

h1 {
    display: inline-block;
    font-size: @base_fs;
    margin: 5px;
    padding: 0;
    position: relative;
    z-index: 10;
    font-weight: normal;
}

header {
    // keep header above modal
    z-index: 200;
}

h2 {
    font-size: @base_fs;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h3 {
    font-size: @small_fs;
    margin: 0;
    padding: 20px 0 0 20px;
    font-weight: normal;
}

h4 {
    position: relative;
    font-weight: normal;
    white-space: nowrap;
    padding: 0 20px;
}

a {
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;

    &:hover {
        text-decoration: none;

        span {
            text-decoration: underline;
        }
    }

    &.hoverLink {
        display: inline-block;
        margin-left: @3x;
        font-size: @xsmall_fs;
        height: 20px;
    }

    &[disabled],
    &.disabled {
        pointer-events: none;
        opacity: 0.7;
    }

    &:before,
    &:after {
        font-size: 125%;
        position: relative;
        top: 2px;
        display: inline-block;
        margin-right: 4px;
    }
}
