
// mixins

.highlight-blue() {
    background-color: @light_blue;
    box-shadow: 0 0 rgba(0, 0, 0, 0),
                40px 0 0 0 @light_blue,
                0 0 rgba(0, 0, 0, 0),
                -40px 0 0 0 @light_blue;
    border-color: transparent;
}

.highlight-green() {
    background-color: @light_green;
    box-shadow: 0 0 rgba(0, 0, 0, 0),
                40px 0 0 0 @light_green,
                0 0 rgba(0, 0, 0, 0),
                -40px 0 0 0 @light_green;
    border-color: transparent;
}

.highlight-red() {
    background-color: @light_red;
    box-shadow: 0 0 rgba(0, 0, 0, 0),
                40px 0 0 0 @light_red,
                0 0 rgba(0, 0, 0, 0),
                -40px 0 0 0 @light_red;
    border-color: transparent;
}

// .vo-hidden() {
//     width: 0;
//     height: 0;
//     overflow: hidden;
// }

// .vo-shown() {
//     width: auto;
//     height: auto;
//     overflow: visible;
// }

.no-left-right() {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.no-right() {
    margin-left: 10px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
