
@import (less) 'assets/css/ionicons.css';
@import (less) 'flickity.min.css';
@import (less) 'display';


* {
    color: #fff !important;
}

body {
    background-color: #2d2d2d !important;
}

img {
    max-width: 100%;
    height: auto;
}

.main-carousel {
    width: 100%;
    max-width: 1400px;
    min-height: 600px;
    max-height: 60vh;
    text-align: center;
    overflow: hidden;
}

.main-carousel figure {
    width: 100%;
}

.flickity-page-dots {
    display: none;
}

.downloads {
    display: flex;
    list-style: none;
}

.downloads span {
    display: none;
}

.downloads li {
    flex-basis: 40%;
    margin: 0 5%;
}

.downloads li:first-child {
    text-align: right;
}

.download {
    opacity: 0.75;
}

main div li {
    padding: 10px 0;
    line-height: 1.33;
}
