
html {

    body {
        background-color: @body_color;
        transition: all 250ms ease-in;

        #settings,
        #exportLinks {
            background: rgba(255, 255, 255, 0.9);
        }

        &,
        * {
            color: @dark_gray;
        }

        h1 {
            &,
            a,
            a:hover {
                color: rgba(0, 0, 0, 0.5);
            }
        }

        .logo {

            &-lite {
                display: inline-block;
            }

            &-dark {
                display: none;
            }
        }

        h4 {
            color: @dark_gray;

            .windows_links:hover & {
                color: @black;
            }
        }

        li {
            &,
            .total {
                color: @light_gray;
            }

            &:hover {
                &,
                .total {
                    color: @dark_gray;
                }
            }
        }

        a {
            &,
            &:hover {
                &,
                span {
                    color: @blue;
                }
            }
        }

        ol > li > ol > li:hover {
            background: linear-gradient(to right, transparent 0, @lightest_gray 100%, @lightest_gray 100%, transparent 100%);
        }

    }

    &.dark {

        body {
            background-color: #777;

            #settings,
            #exportLinks {
                background: #777;
            }

            #settings fieldset {
                background: darkgoldenrod;
            }

            &,
            * {
                color: #f1f1f1;
            }

            h1 {
                &,
                a,
                a:hover {
                    color: #d2d2d2;
                }
            }

            .logo {

                &-lite {
                    display: none;
                }

                &-dark {
                    display: inline-block;
                }
            }

            h4 {
                color: #f1f1f1;

                .windows_links:hover & {
                    color: white;
                }
            }

            li {
                &,
                .total {
                    color: #c1c1c1;
                }

                &:hover {
                    &,
                    .total {
                        color: #f1f1f1;
                    }
                }
            }

            a {
                &,
                &:hover {
                    &,
                    span {
                        color: lightblue;
                    }
                }
            }

            ol > li > ol > li:hover {
                background: linear-gradient(to right, transparent 0, #555 100%, #555 100%, transparent 100%);
            }
        }

        &[data-display-popup] {

            .toolbar-site .toolbar-buttons,
            .toolbar-site .toolbar-links {
                background-color: #777;
            }
        }
    }
}
