
// base unit
@base_unit             : 5px;

// scales
@1x                    : 1px  * @base_unit;
@2x                    : 2px  * @base_unit;
@3x                    : 3px  * @base_unit;
@4x                    : 4px  * @base_unit;
@6x                    : 6px  * @base_unit;
@12x                   : 12px * @base_unit;

// font-sizes
@base_fs               : 100%;
@small_fs              : 90%;
@xsmall_fs             : 75%;

// colors
@body_color            : #f1f1f1;

@lightest_gray         : rgba(155, 155, 155, 0.05);
@light_gray            : rgba(0, 0, 0, 0.25);
@gray                  : rgba(0, 0, 0, 0.50);
@dark_gray             : rgba(0, 0, 0, 0.75);

@black                 : rgba(0, 0, 0, 1.0);
@white                 : rgba(255, 255, 255, 1.0);

@blue                  : rgba(13, 79, 139, 1.0);
@green                 : rgba(16, 139, 13, 1.0);
@red                   : rgba(139, 13, 40, 1.0);
@yellow                : rgba(231, 231, 231, 1.0);

@light_blue            : rgba(13, 79, 139, 0.10);
@light_green           : rgba(16, 139, 13, 0.10);
@light_red             : rgba(139, 13, 40, 0.10);
@light_yellow          : rgba(255, 255, 204, 0.95);

// misc
@border_width          : 1px;
@border_color          : #d9d9d9;

@header_line_height    : 40px;
