
.alert-banner {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2000;
    transition: height 500ms ease-in;

    section {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -200px);
        transition: all 500ms ease-in;
        margin: 0;
        padding: 10px 40px;
        max-width: 480px;
        width: 100%;
        font-size: 13px;
    }

    &-open {
        background-color: rgba(255, 255, 255, 0.95);

        section {
            transform: translate(-50%, 0);

            &:hover {
                transition-duration: 10s;
            }
        }
    }

    &[data-alert-banner='info'] section,
    &[data-alert-banner='success'] section {
        background-color: @green;
    }

    &[data-alert-banner='warn'] section {
        background-color: @yellow;
    }

    &[data-alert-banner='error'] section {
        background-color: @red;
    }
}

[data-display-popup] & {
    .alert-banner {
        top: unset;
        bottom: 35px;

        section {
            left: 0;
            transform: translate(0, 900px);
            max-width: 100%;
        }

        &-open {
            section {
                transform: translate(0, 0);
            }
        }
    }
}
