
#exportLinks {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    margin: 0;
    padding: 0;

    fieldset {
        width: 80%;
        min-width: 675px;
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 50px;
        .highlight-green();
        box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
    }

    textarea {
        width: 100%;
        height: auto;
        min-height: 400px;
        margin: 20px 0;
        padding: @3x;
        box-sizing: border-box;
        color: black;
    }

    a.toggleExportAll {
        display: block;
        float: right;
        padding: 20px;
        margin-top: -25px;
    }
}
