
.settings {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    margin: 0;
    padding: 0;

    fieldset {
        width: 80%;
        min-width: 675px;
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 50px;
        box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
        background-color: @light_yellow;
        border: 0;
        padding: 10px 0;
        position: relative;
    }

    h2 {
        font-size: 16px;
        text-indent: 20px;
    }

    a.toggleSettings {
        display: block;
        float: right;
        padding: 20px;
        margin-top: -25px;
    }

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: @3x;
        font-size: @small_fs;
    }

    label,
    a {

        &:before {
            display: inline-block;
            margin-right: 10px;
        }
    }

    p {
        padding: 20px;
        font-size: 80%;
        margin: 0 20px;
    }

    hr {
        margin: 40px;
        border: 1px solid #000;
        opacity: 0.1;
    }
}
