
a.tablink {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        text-decoration: none;

        span:hover {
            text-decoration: underline;
        }
    }
}
