
.saved-timestamp {
    font-size: @xsmall_fs;
    float: right;
    line-height: 1.9;
}

// window toolbar
[data-window][data-highlight-saveWindowLinks] {
    .highlight-green();
}

[data-window][data-highlight-bookmarkWindowLinks] {
    .highlight-green();
}

[data-window][data-highlight-saveWindowToWebPage] {
    .highlight-green();
}

[data-window][data-highlight-restoreWindowLinks] {
    .highlight-blue();
}

[data-window][data-highlight-removeWindowLinks] {
    .highlight-red();
}

.toolbar-window {
    .toolbar-tips;

    .saveWindowLinks,
    .closeWindow,
    .closeTab {
        #savedLinkHtml  & {
            display: none;
        }

        &[disabled] {
            pointer-events: none;
            opacity: 0.7;
        }
    }

    .closeWindow,
    .closeTab {
        [data-window-closed="true"] &,
        &[disabled] {
            pointer-events: none;
            opacity: 0.7;
        }
    }

    .maximize,
    .minimize {
        top: -1px;

        .generic {
            display: block;
        }
        .current {
            display: none;
        }

        [data-window-closed="true"] & {
            pointer-events: none;
            opacity: 0.7;
        }

        #savedLinkHtml & {
            display: none !important;
        }
    }

    [data-state] & {
        .maximize {
            display: inline-flex;
        }
        .minimize {
            display: none;
        }
    }

    [data-state='minimized'] & {
        .maximize {
            display: none;
        }
        .minimize {
            display: inline-flex;
        }
    }

    [data-current-window] & {
        .maximize,
        .minimize {
            .generic {
                display: none;
            }
            .current {
                display: block;
            }
        }
    }
}
