
.toolbar-tab {
    .toolbar-tips;

    display: none;
    justify-content: flex-end;

    .closeTab {
        #savedLinkHtml & {
            display: none;
        }

        [data-tab-closed="true"] &,
        &[disabled] {
            pointer-events: none;
            opacity: 0.7;
        }
    }
}
