
// site ToolbarForSite
[data-highlight-all-windows-restoreAll] [data-window] {
    .highlight-blue();
}

[data-highlight-all-windows-mailall] [data-window] {
    .highlight-green();
}

[data-highlight-all-windows-exportAll] [data-window] {
    .highlight-green();
}

.toolbar-site {
    a {
        margin-right: 12px;
    }

    button {
        cursor: pointer;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        outline: 0;
        margin: 0 12px;
        background: transparent;
        transition: all 500ms linear;
        font-size: 14px;

        &.selected {
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);

            ~ button {
                border-bottom: 1px solid rgba(0, 0, 0, 0);
            }
        }
    }

    display: flex;
    flex-direction: column-reverse;

    .toolbar-links {
        margin: 20px;
    }

    @media (min-width: 1025px) {
        flex-direction: row;

        .toolbar-buttons {
            flex: 1;
        }

        .toolbar-links {
            margin: 0;
        }
    }
}
