
.toolbar {
    // &,
    // > div {
        display: inline-flex;
    // }

    a {
        &,
        &:hover {
            color: @blue;
        }
    }

    &,
    a {
        font-size: 12px;
    }

    &-site {
        width: 100%;
        margin-bottom: 15px;

        > div {
            margin-right: 10px;
        }
    }
}

.toolbar-tips () {

    a {
        position: relative;
        display: inline-block;

        span {
            position: absolute;
            top: -100%;
            left: 50%;
            display: inline-flex;
            justify-content: center;
            width: 0;
            height: auto;
            white-space: nowrap;
            overflow: hidden;
            border-radius: 2px;
            transition-duration: 250ms;
            opacity: 0;
            transform: translate(-50%, -20px);
        }

        &:hover {

            // &:before {
            //     font-weight: bold;
            // }

            span {
                width: auto;
                background: white;
                border: 1px solid #0d4f8b;
                padding: 2px 6px;
                z-index: 1;
                text-decoration: none;
                opacity: 1;
                transform: translate(-50%, 0);
            }
        }
    }
}
