
ol {
    list-style-position: outside;

    [data-pinned="true"],
    [data-incognito="true"] {
        &:before {
            content: "pinned";
            display: inline-block;
            left: -110px;
            text-transform: uppercase;
            font-size: 10px;
            text-align: right;
            width: 75px;
            top: 10px;
            opacity: 0;
            position: absolute;
            transition: opacity 500ms ease-in;
        }

        &:hover:before {
            opacity: 1;
        }
    }

    [data-incognito="true"] {
        &:before {
            content: "incognito";
        }
    }

    > li {
        margin: 0 0 @2x 0;
        padding: @2x;
        position: relative;

        &.windows_links {
            border: 1px solid rgba(0, 0, 0, 0);

            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
            }
        }

        .total {
            font-size: @xsmall_fs;
        }

        .toolbar-window {
            opacity: 0;
            transition: opacity 500ms ease-in;
        }

        &:hover {
            font-size: @base_fs;

            .toolbar-window {
                opacity: 1;
            }
        }

        > ol {
            list-style-position: outside;

            > li {
                > span {
                    display: flex;
                }

                // needed for .pinned
                &:before {
                    position: relative;
                    left: -46px;
                    top: 2px;
                    display: inline-block;
                    width: 10px;
                }

                &.pinned:before {
                    width: 0;
                }

                img.favicon {
                    margin: 0 @1x 0 0;
                    position: relative;
                    top: 2px;
                    width: 16px;
                    height: 16px;
                }

                &:hover {

                    .toolbar-tab {
                        display: inline-flex;
                    }
                }
            }
        }
    }
}

// responsive

@media only screen and (max-width: 1024px) {

    ol {
        list-style: none;

        &,
        > li {
            .no-left-right;

            > ol {
                list-style: decimal;

                &,
                > li {
                    .no-right;
                }
            }
        }
    }
}
