
ol#savedPagesHtml {

    .savedKeyInfo {
        font-size: 75%;
    }

    ol {
        list-style-type: none;
        font-size: 75%;

        > li img.favicon {
            width: 12px;
            height: 12px;
        }
    }

    border-left: 2px solid transparent;

    &:hover {

        ol {
            border-left: 2px solid @gray;
        }
    }
}
