
// additional CSS for highlighting

[data-window] {
    box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0);
    transition: all 300ms linear;

    [data-highlighter] &, // for "all windows"
    &[data-highlighter] { // for a single window
        box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
        transition-duration: 100ms;
    }
}

[data-highlighter] [data-window],
[data-window][data-highlighter] {
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
    transition-duration: 100ms;
}
